* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  width: 100%;
  height: 100vh;
}

.App {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;

}


.allMovies {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 40px;
  width: 70%;
  transition: all 0.5s;
}

.singleMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.5s;

}

.cardFullDisplay {
  padding: 30px;

}

.singleMovie img {
  width: 80%;
  height: auto;
  border-radius: 15px;
}

.singleMovie h3 {
  display: inline;
  padding-right: 20px;
}

.coverimage {}

.columnContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 2fr;

  justify-items: center;
}

.columnContainer h2 {
  font-size: 30px;
}

.columnContainer p {
  font-size: 1.8rem;
  width: 80%;

}

.cardFullDisplay {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.cardFullDisplay h2,
h3 {
  display: flex;
  font-family: 'Inter';
  align-self: center;
}

.cardFullDisplay h2 {
  font-size: 3.5rem;
}